@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
        <th>Referans Resmi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.TestimonialName</td>
            <td>@item.TestimonialTitle</td>
            <td>@item.TestimonialImage</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/AddTestimonial/" class="btn mb-1 btn-rounded btn-success">Yeni Personel Girişi</a>


